@media screen and (max-width: 600px) {
    * {
        font-family: courier;
        font-weight: bold;
        box-sizing: border-box;
    }
    body {
        background-color: #f6f1f1;
        margin: 0 auto;
    }
    .main {
        background-color: blue;
    }

/* HEADER */

    .header {
        position: relative;
        background-color: #f6f1f1;
        margin: 0 auto;
        width: 100%;
        height: 20%;
        z-index: -1;
    }
    .slogo {
        width: 51%;
    }
    .logo-text {
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translateY(-50%);
    }

/* ANIMATED UNDERLINE */

    .nav-link::after {
        content: "";
        display: block;
        width: 0;
        height: .5px;
        background-color: #9b9b9b;
        transition: .3s;
    }
    .nav-link:hover::after {
        width: 100%;
        transition: width .3s;
    }

/* NAV HOVER LINKS */

    .a:hover, a:link {
        text-decoration: none;
        color: black;
    }
    a:visited {
        text-decoration: none;
        color: black;
    }

/* NAV MENU CONTAINER  */

    .menu-ctn {
        background-color: #f6f1f1;
    }
    .menu-ctn>a {
        position: relative;
        display: block;
        text-align: center;
        background-color: #f6f1f1;
        padding: 10px 15px;
        transition: all .3s ease;
        width: 109px;
        left: 50%;
        transform: translateX(-50%);
    }

/* MAIN */

    #main {
        background-color: #f6f1f1;
        overflow: hidden;
        position: relative;
    }
    #content {
        position: relative;
        background-color: #f6f1f1;
        margin: 0;
        width: 100%;
        z-index: 1;
        padding: 2% 10% 2% 2%;
        text-align: center;
    }
    .contact-form{
        background-color: #f6f1f1;
        text-align: center;
    }
    .name-cont{
        border-radius: 3px;
    }
    .email-cont{
        border-radius: 3px;
    }
    .mess-cont{
        border-radius: 3px;
        height: 200px;
    }

/* IMAGES */

    img {
        width: 120%;
    }
    #menu-side {
        display: none;
        position: absolute;
        background-color: #f6f1f1;
        margin: 0;
        width: 20%;
        height: 1000px;
        z-index: 2;
        top: 0%;
        left: 80%;
    }

/* SOCIAL MEDIA CONTACTS */

    .socialcont {
        text-align: center;
        background-color: #f6f1f1;
        border-bottom: 1px solid #646464;
        width: 60%;
        position: relative;
        left: 20%;
    }
    .fa-facebook-square {
        color: #646464;
    }
    .fa-instagram-square {
        color: #646464;
    }
    .fa-envelope-square {
        color: #646464;
    }

/* FOOTER */

    .footer {
        flex-direction: row;
        background-color: #f6f1f1;
        margin: 0;
        width: 100%;
        top: 40em;
        z-index: 1;
        text-align: left;
        justify-content: space-between;
        padding: 2% 10%;
        font-size: 12px;
    }
}